name: Deploy Blazor WASM to GitHub Pages

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0" # o la versione che usi

      - name: Publish
        run: dotnet publish -c Release -o output

      - name: Fix base href
        run: |
          repoName=$(echo "${{ github.repository }}" | cut -d'/' -f2)
          sed -i "s|<base href=\"/\" />|<base href=\"/${repoName}/\" />|" output/wwwroot/index.html

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: output/wwwroot

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
